.nav-route{
    font-size: 10px;
    padding: 1em 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-transform: uppercase;
}
.tea-img{
    width:100%;
    height:90%;
    background-size:cover;
    background-position: center;
}

.spacer{
    height:50px;
}

.flexed-btn{
    height:35px !important;
}