@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato&display=swap');

#root{
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Cormorant Garamond', serif;
}
.home-hero-img{
    background-image: url("http://cdn.shopify.com/s/files/1/0311/4398/5197/files/AOT-Home-Banner-Teachable-041320_HH_1800x.jpg?v=1587056156");
    height:95vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-link{
    display: flex;
    height:40px;
}

.logo-title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    letter-spacing: 1px;
}

.hero-wrapper{
    position: absolute; 
    right: 10%;
    top: 30%;
}

.hero-text{
    margin-bottom:20px;
}
.nav-route{
    font-size: 10px;
    padding: 1em 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-transform: uppercase;
}

.nav-route a{
    color:black;
}

.line{
    margin: 0.2em 1em;
    width:100%;
    border-bottom: 1px solid #dbdbdb;
}

.tea-img{
    width:100%;
    height:90%;
    background-size:cover;
    background-position: center;
}

.spacer{
    height:50px;
}

.flexed-btn{
    height:35px !important;
}

.register-form{
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

.cta{
    border: 1px solid #d6954b;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    padding: 0.5rem 1rem;
    transition: .2s ease;
    background:transparent;
    height:40px;
}

.cta:hover{
    color: #d6954b;
    text-decoration: none;
}

.uploadcare--widget__button_type_open {
  background-color: #d6954b;
}

.uploadcare--widget__button_type_open:hover {
  background-color: #777777;
}

.cta-wrapper{
    display:flex;
    justify-content: center;
}

.create-acc{
    color:#d6954b;
    text-decoration: underline;
}

.create-acc:hover{
    text-decoration:none;
    color:#777777;
}