{{#extends "base"}}
{{#block "title"}}
Home | Tea Empire
{{/block}}
{{#block "home"}}
<div class="home-hero-img">
    <div class="hero-wrapper">
        <h2 class="hero-text">Welcome to Tea Empire Admin Panel</h2>
        <a class="cta" href="/login"> Log in </a>
    </div>
</div>
{{/block}}
{{/extends}}