{{#extends "base"}}
{{#block "title"}}
Home | Tea Gee See
{{/block}}
{{#block "content"}}
<div class="container">
    <h1> Home </h1>
    <p> Welcome to the admin panel for Tea Gee See </p> 
</div>
{{/block}}
{{/extends}}