{{#extends "base"}}
{{#block "title"}}
Log In | Tea Gee See
{{/block}}
{{#block "content"}}
<div class="mt-2 mb-4 nav-route">
    HOME / LOG IN
</div>
<div class="register-form">
    <h3 style="text-align: center;">Log In </h3>
    <form method="POST" style="width:100%">
        {{{form}}}
        <div style="display:flex">
            <input type="submit" class="btn btn-primary mx-auto" value="Sign In">
        </div>
    </form>
    <a href="/users/register">Create Account</a>
</div>
{{/block}}
{{/extends}}