{{#extends "base"}}
{{#block "title"}}
Profile | Tea Empire
{{/block}}
{{#block "content"}}
<div class="mt-2 mb-4 nav-route">
    HOME / PROFILE
</div>
<div class="register-form">
    <h3 style="text-align: center;">Profile </h3>
    <form method="POST" style="width:100%">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        {{{form}}}
        <div class="cta-wrapper">
            <input type="submit" class="cta" value="Update">
        </div>
    </form>
</div>
{{/block}}
{{/extends}}