{{#extends "base"}}
{{#block "title"}}
Register | Tea Empire
{{/block}}
{{#block "content"}}
<div class="mt-2 mb-4 nav-route">
    <a href="/">HOME</a>
    /
    <a href="/users/register">REGISTER</a>
</div>
<div class="register-form">
    <h3 style="text-align: center;">Create Account </h3>
    <form method="POST" style="width:100%">
        {{{form}}}
        <div style="display:flex">
            <input type="submit" class="cta mx-auto" value="Submit">
        </div>
    </form>
</div>
{{/block}}
{{/extends}}