{{#extends "base"}}
{{#block "title"}}
Delete | Tea Gee See
{{/block}}

{{#block "content"}}
<div class="mt-2 mb-4 nav-route">
    <a href="/">HOME</a>
    /
    <a href="/products">PRODUCTS</a>
    / {{product.name}} / DELETE
</div>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <div class="alert alert-danger">
        Are you sure you want to delete <strong>{{product.name}}</strong> and all it's content?
    </div> 
    <input type="submit" value="Delete" class="btn btn-sm btn-danger">
    <a href="/products" class="btn btn-sm btn-success">Cancel</a>
</form>
{{/block}}
{{/extends}}