{{#extends "base"}}
{{#block "title"}}
Delete | Tea Gee See
{{/block}}

{{#block "content"}}
<h1>Delete Product</h1>

<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete: {{product.name}}
    </div> 
    <input type="submit" value="Delete" class="btn btn-danger">
    <a href="/products" class="btn btn-success">Cancel</a>



</form>
{{/block}}
{{/extends}}