{{#extends "base"}}
{{#block "title"}}
Update | Tea Gee See
{{/block}}

{{#block "content"}}
<div class="mt-2 mb-4 nav-route">
    HOME / PRODUCTS / {{product.name}} /  UPDATE
</div>
<div style="display:flex" class="mb-2">
    <h3>Update Product: {{product.name}} </h3>
    <a href="/products/{{product.id}}/delete" class="btn btn-sm btn-danger ml-auto flexed-btn">Delete</a>
</div>
<form method="POST">
    <div class="row">
    {{{form}}}
    </div>
    <input type="submit" class="btn btn-primary btn-sm " value="Update">
    <a href="/products" class="btn btn-success btn-sm ">Cancel</a>
</form>
{{/block}}
{{#block "css"}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{{/block}}

{{#block "js"}}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready()
$(document).ready(function() {
    $('#id_flavour').select2();
});
</script>

{{/block}}
{{/extends}}